[defaults]
inventory = inventory/lab/hosts.ini
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
timeout = 30
forks = 10

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s